<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="AppData/Logs/NLogInternal.log">

  <targets>
    <target xsi:type="File" name="allfile" fileName="${var:configDir}\nlog-all.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />


    <target xsi:type="File" name="ownFile-web" fileName="${var:configDir}\nlog-own.log"
            layout="时间：${longdate} 等级：${uppercase:${level}}|消息：${message} ${exception} 其他：${aspnet-user-identity}|${aspnet-sessionid}|${aspnet-session:variable=CURRUSER}" />

    <target xsi:type="Null" name="blackhole" />

    <target xsi:type="Database" name="database">

      <connectionString>${var:connectionString}</connectionString>

      <commandText>
        insert into dbo.SystemLog (LogDate, Level, Message, Exception,Callsite,Controller,Action,UserAgent,IP,Url,Referrer,UserId)
        values (@logDate, @level, @message,@exception,@callsite,@controller,@action,@userAgent,@ip,@url,@referrer,case @userId when '' then null else @userId end);
      </commandText>
      <parameter name="@logDate" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@callsite" layout="${callsite:fileName=true}" />
      <parameter name="@controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@action" layout="${aspnet-mvc-action}" />
      <parameter name="@userAgent" layout="${aspnet-request-useragent}" />
      <parameter name="@ip" layout="${aspnet-request-ip}"/>
      <parameter name="@url" layout="${aspnet-request-url}"/>
      <parameter name="@referrer" layout="${aspnet-request-referrer}"/>
      <parameter name="@userId" layout="${aspnet-session:variable=CURRUSERID}"/>
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>